header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#5F4BB6;
    border-bottom: solid 10px #000;
    padding: 10px 20px;    
}

h2 {
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0px #000; ;
}


nav {
    text-align: right;

}

a { 
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a:before {
    content: " ";
    background-color: #FFC300;;
    width:10px;
    height: 10px;
    margin-right: 10px;
}


#button {
    display: inline-block;
    background-color: #FFC300;;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: transform 100ms linear opacity 200ms ease-in-out linear;
}

#button:hover{
    transform: scale(1.08);
    opacity: 0.8;
}




