.main-footer {
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #000;
    padding-top: 28px;
    padding-bottom: 16px;
}

.main-footer .item {
    margin-right: 20px;
    margin-left: 20px;
}