.main-section {
    background-color: #3A4042;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #5F4BB6;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-projects {
    background-color: #000;
    border-bottom: 10px solid #FFC300;
}

.main-section.-about{
    background-color:#5F4BB6 ;
    border-bottom: 10px solid #000;
}