.section {
    background-color: #3A4042;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #5F4BB6;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-projects {
    background-color: #000;
    border-bottom: 10px solid #FFC300;
}